---
import Footer from '@components/Footer.astro';
import Header from '@components/Header.astro';
import { siteInfo } from '@utils/site-info';

const { title = siteInfo.title, desc = siteInfo.description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={desc} />
    <meta property="og:title" content={title} />
    <title>{title}</title>
  </head>
  <body class="w-full h-full bg-pearl-gray">
    <Header />
    <slot />
    <Footer />
  </body>
</html>

